<link rel="stylesheet" href="index-styles.css">

<header class="header">
    <div class="wrapper">
        <div class="username">{{username}}</div>
        <div class="header_actions">
            <a href="/changePassword" class="change-password">CHANGE PASSWORD</a>
            <a href="/logout" class="logout">LOGOUT</a>
        </div>
    </div>
</header>

<div class="wrapper">
    <form action="/" method="post" class="index-form">
        <input type="text" class="form-control" placeholder="JOB NAME" name="job_name">
        <input type="text" class="form-control" placeholder="DONE DATE" name="done_date">
        <input type="text" class="form-control" placeholder="TIME TO FINISH" name="time_to_finish">
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <div class="show-err"></div>
    <table class="table table-striped-columns ">
        <thead>
            <tr>
                <form action="/sort" method="post" class="sort-form">
                    <th scope="col">
                        {{#if show}}
                            <select name="select_user" id="select_user" class="table_select">
                                {{#each users}}
                                    <option value="{{id}}">{{name}}</option>
                                {{/each}}
                            </select>
                        {{/if}}
                    </th>
                    <th scope="col">
                        <select name="select_order" id="select_order" class="table_select">
                            <option value="0">JOB_NAME</option>
                            <option value="1">DONE DATE</option>
                            <option value="2">TIME TO FINISH</option>
                        </select>
                    </th>
                    <th scope="col">
                        <input type="submit" value="SUBMIT" class="table_select">
                    </th>
                </form>
            </tr>
            <tr>
        
                <th scope="col">JOB NAME</th>
                <th scope="col">DONE DATE</th>
                <th scope="col">TIME OT FINISH</th>
            </tr>
        </thead>
        <tbody>
        {{#each table}}
            <tr>
                {{#each .}}
                    <td>{{.}}</td>
                {{/each}}
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>

<script src="index.js"></script>
<script>
    {{#if show}}
        let selectUser = document.querySelector('#select_user');
        let userOps = selectUser.querySelectorAll('option');
        for (let op of userOps) {
            if(op.value == {{orderByUser}}) {
                op.selected = true
            }
        }
    {{/if}}

    let selectOrder = document.querySelector('#select_order');

    let orderOps = selectOrder.querySelectorAll('option');

    

    for (let op of orderOps) {
        if(op.value == {{order}}) {
            console.log(op)
            op.selected = true
        }
    }

</script>